.background-fassos{
    height:100vh;
    width:100%;
    background-image:url('https://product-assets.faasos.io/eatsure_cms/production/fbd216f6-022b-409b-8335-b57cdc3dc644.jpg');
    background-repeat:no-repeat;
    background-size:cover;

}
.first-page{
    padding:0;
    margin:0;
    overflow:hidden;
}
.popUp{
    position:absolute;
    top:200px;
    left:580px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 15px rgba(255, 0, 0, 0.3);
    padding:20px;
    background-color:teal;
    border-radius:30px;
    

    
}

.heading {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.5s ease-in-out;
  }
  
  .heading.animate {
    opacity: 1;
    transform: translateY(0);
  }
  